In [1]:
# lgb模型
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib
import matplotlib.pyplot as plt
import lightgbm as lgb
import operator
import time

# 1.读取文件
train_xy = pd.read_csv("../data/train.csv",header=0,sep=",")
test_all = pd.read_csv("../data/test.csv",header=0,sep=",")

print(train_xy.shape)
print(test_all.shape)
# 2.合并数据
train = train_xy.copy()
test = test_all.copy()
test['label'] = -1
# 合并一下train 和 test
data = pd.concat([train,test],axis = 0) # train_xy，test_all索引上连接
print(train.shape)
print(test.shape)
print(data.shape)

# # 3.对特征进行分析，分为数值型 、 类别型
# numerical_features = []
# categorical_features = []
# for i in range(157):
#     feat = "x_" + str(i+1)
#     if i <= 94: # 1-95
#         numerical_features.append(feat)
#     else:
#         categorical_features.append(feat)
# print("数值型特征：",len(numerical_features))
# print("类别型特征：",len(categorical_features))

# 4.统计每个样本缺失值的个数
def get_nan_count(data,feats,bins = 7):
    df = data[feats].copy()
    df = df.replace(-999,np.nan)
    df['nan_count'] = df.shape[1] - df.count(axis = 1).values  # 列数 - 非nan数
    dummy = pd.get_dummies(pd.cut(df['nan_count'],bins),prefix = 'nan') # 对缺失个数进行离散化,划分为7个区间
    print(dummy.shape)
    res = pd.concat([data,dummy],axis = 1) # 合并到原来的数据
    print(res.shape)
    return res
# 在特征行方向上面统计缺失值
data = get_nan_count(data,data.columns.values,7)

# 5.重要性/
# print("start：********************************")
# start = time.time()

# N = 5 
# skf = StratifiedKFold(n_splits=N,shuffle=True,random_state=2018)

# auc_cv = []
# pred_cv = []

# for k,(train_in,test_in) in enumerate(skf.split(X,y)):
#     X_train,X_test,y_train,y_test = X[train_in],X[test_in],\
#                                     y[train_in],y[test_in]
    
#     # 数据结构
#     lgb_train = lgb.Dataset(X_train, y_train)
#     lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

#     # 设置参数
#     params = {
#         'boosting_type': 'gbdt',
#         'objective': 'binary',
#         'metric': {'auc'},
#         'max_depth': 4,
#         'min_child_weight': 6,
#         'num_leaves': 16,
#         'learning_rate': 0.02,# 0.05
#         'feature_fraction': 0.7,
#         'bagging_fraction': 0.7,
#         'bagging_freq': 5,
#         #'lambda_l1':0.25,
#         #'lambda_l2':0.5,
#         #'scale_pos_weight':10.0/1.0, #14309.0 / 691.0, #不设置
#         #'num_threads':4,
#     }
# 
#     print('................Start training..........................')
#     # train
#     gbm = lgb.train(params,
#                     lgb_train,
#                     num_boost_round=2000,
#                     valid_sets=lgb_eval,
#                     early_stopping_rounds=100,
#                     verbose_eval=100)

#     print('................Start predict .........................')
#     # 预测
#     y_pred = gbm.predict(X_test,num_iteration=gbm.best_iteration)
#     # 评估
#     tmp_auc = roc_auc_score(y_test,y_pred)
#     auc_cv.append(tmp_auc)
#     print("valid auc:",tmp_auc)
#     # test
#     pred = gbm.predict(test_data, num_iteration = gbm.best_iteration)
#     pred_cv.append(pred) 
    
# # K交叉验证的平均分数 
# print('the cv information:')
# print(auc_cv)
# print('cv mean score',np.mean(auc_cv))

# end = time.time()
# print("......................run with time: ",(end - start) / 60.0 )
# print("over:*********************************")

# # 10.5折交叉验证结果均值融合，保存文件
# mean_auc = np.mean(auc_cv)
# print("mean auc:",mean_auc)
# filepath = 'result/lgb_'+ str(mean_auc)+'.csv' # 线下平均分数

# # 转为array
# res =  np.array(pred_cv)
# print("总的结果：",res.shape)
# # 最后结果平均，mean
# r = res.mean(axis = 0)
# print('result shape:',r.shape)
# result = DataFrame()
# result['cust_id'] = test_id
# result['pred_prob'] = r
# result.to_csv(filepath,index=False)

(56411, 104)
(27785, 104)

f:\my_soft\python\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

(56411, 104)
(27785, 105)
(84196, 105)
(84196, 7)
(84196, 112)

In [2]:
import pandas as pd
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')
label = pd.read_csv('../data/train_target.csv')
train = pd.merge(train, label, on='id', how='left')

In [3]:
data = pd.concat((train, test))

f:\my_soft\python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [4]:
for i in data.columns:
    if data[i].nunique() < 100:
        print(i)
        print(data[i].value_counts())

5yearBadloan
0    84044
1      152
Name: 5yearBadloan, dtype: int64
age
27    5821
22    5275
24    5201
23    5104
28    5096
26    5060
25    4909
21    4688
29    4658
30    4591
20    4466
19    3587
31    3536
32    2967
33    2513
34    2335
35    2260
36    1666
37    1446
38    1297
39    1121
40     928
41     890
43     763
42     752
44     691
45     637
46     546
47     458
48     406
18     192
49     149
50      55
52      53
51      45
53      32
54       2
Name: age, dtype: int64
basicLevel
 2      31810
 3      28836
 1      21255
-999     2261
 4         33
 5          1
Name: basicLevel, dtype: int64
edu
0     83843
40      157
30       99
70       46
20       45
10        4
60        1
47        1
Name: edu, dtype: int64
ethnic
0     77723
2      1772
3       686
7       499
4       496
9       387
8       376
6       335
5       299
10      263
11      258
15      220
12      141
14      125
19       84
13       78
30       64
26       62
20       59
22       48
23       29
24       25
21       23
18       15
39       14
43       14
28       13
37       12
38       10
27        9
25        7
45        5
42        5
16        4
29        4
1         4
17        4
40        3
34        3
41        3
35        2
36        2
33        2
32        2
31        2
47        2
44        1
46        1
48        1
Name: ethnic, dtype: int64
gender
2    63170
1    21026
Name: gender, dtype: int64
highestEdu
-999    77134
 99      6450
 40       265
 30       188
 20        84
 70        69
 10         6
Name: highestEdu, dtype: int64
job
16    63065
4      9032
2      4344
3      2786
1      2336
7      2099
6       507
8        27
Name: job, dtype: int64
linkRela
 1      20616
 0      17539
-999    17101
 10     12420
 11     11733
 12      3910
 2        877
Name: linkRela, dtype: int64
loanProduct
2    52192
3    17164
1    14840
Name: loanProduct, dtype: int64
ncloseCreditCard
 1      65471
 0      18574
-999      151
Name: ncloseCreditCard, dtype: int64
setupHour
20    14418
11     5313
17     5312
16     5004
10     4940
14     4610
12     4599
15     4538
13     4495
18     4443
9      3938
19     3714
21     3301
8      2839
22     2778
23     2213
7      1785
0      1769
1      1185
6      1054
2       781
3       459
5       394
4       314
Name: setupHour, dtype: int64
target
0.0    56061
1.0      350
Name: target, dtype: int64
unpayIndvLoan
 0      72535
 1      11510
-999      151
Name: unpayIndvLoan, dtype: int64
unpayNormalLoan
 0      72668
 1      11377
-999      151
Name: unpayNormalLoan, dtype: int64
unpayOtherLoan
 1      74597
 0       9448
-999      151
Name: unpayOtherLoan, dtype: int64
weekday
6    21427
3    12938
4    12798
5     9960
2     9820
1     9042
7     8211
Name: weekday, dtype: int64
x_0
 0      84045
-999      151
Name: x_0, dtype: int64
x_1
 0      84045
-999      151
Name: x_1, dtype: int64
x_10
 0      84045
-999      151
Name: x_10, dtype: int64
x_11
 0      84045
-999      151
Name: x_11, dtype: int64
x_12
 0      79903
 1       4142
-999      151
Name: x_12, dtype: int64
x_13
 0      84045
-999      151
Name: x_13, dtype: int64
x_14
 0      69251
 1      14794
-999      151
Name: x_14, dtype: int64
x_15
 0      84045
-999      151
Name: x_15, dtype: int64
x_16
 1      83578
 0        467
-999      151
Name: x_16, dtype: int64
x_17
 0      84045
-999      151
Name: x_17, dtype: int64
x_18
 0      84045
-999      151
Name: x_18, dtype: int64
x_19
 0      84045
-999      151
Name: x_19, dtype: int64
x_2
 0      84045
-999      151
Name: x_2, dtype: int64
x_20
 1      80906
 0       3139
-999      151
Name: x_20, dtype: int64
x_21
 0      84045
-999      151
Name: x_21, dtype: int64
x_22
 1      84045
-999      151
Name: x_22, dtype: int64
x_23
 0      84045
-999      151
Name: x_23, dtype: int64
x_24
 0      84045
-999      151
Name: x_24, dtype: int64
x_25
 0      66496
 1      17549
-999      151
Name: x_25, dtype: int64
x_26
 0      75277
 1       8768
-999      151
Name: x_26, dtype: int64
x_27
 0      75972
 1       8073
-999      151
Name: x_27, dtype: int64
x_28
 0      77988
 1       6057
-999      151
Name: x_28, dtype: int64
x_29
 0      82073
 1       1972
-999      151
Name: x_29, dtype: int64
x_3
 0      84045
-999      151
Name: x_3, dtype: int64
x_30
 0      83745
 1        300
-999      151
Name: x_30, dtype: int64
x_31
 0      83949
-999      151
 1         96
Name: x_31, dtype: int64
x_32
 0      84043
-999      151
 1          2
Name: x_32, dtype: int64
x_33
 3      29116
 1      25559
 2      13293
 4       7913
 5       7286
 6        878
-999      151
Name: x_33, dtype: int64
x_34
 4      22994
 3      14798
 1      13391
 6      13177
 5      11971
 2       7714
-999      151
Name: x_34, dtype: int64
x_35
 0      83432
 1        613
-999      151
Name: x_35, dtype: int64
x_36
 0      84045
-999      151
Name: x_36, dtype: int64
x_37
 0      84045
-999      151
Name: x_37, dtype: int64
x_38
 0      84045
-999      151
Name: x_38, dtype: int64
x_39
 0      84044
-999      151
 1          1
Name: x_39, dtype: int64
x_4
 0      84045
-999      151
Name: x_4, dtype: int64
x_40
 1      84045
-999      151
Name: x_40, dtype: int64
x_41
 0      72668
 1      11377
-999      151
Name: x_41, dtype: int64
x_42
 0      84018
-999      151
 1         27
Name: x_42, dtype: int64
x_43
 0      72535
 1      11510
-999      151
Name: x_43, dtype: int64
x_44
 0      83309
 1        736
-999      151
Name: x_44, dtype: int64
x_45
 1      74597
 0       9448
-999      151
Name: x_45, dtype: int64
x_46
 0      45312
 1      38733
-999      151
Name: x_46, dtype: int64
x_47
 0      71873
 1      12172
-999      151
Name: x_47, dtype: int64
x_48
 0      72260
 1      11785
-999      151
Name: x_48, dtype: int64
x_49
 0      78654
 1       5391
-999      151
Name: x_49, dtype: int64
x_5
 0      84045
-999      151
Name: x_5, dtype: int64
x_50
 0      68081
 1      15964
-999      151
Name: x_50, dtype: int64
x_51
 1      60486
 0      23559
-999      151
Name: x_51, dtype: int64
x_52
 1      54795
 0      29250
-999      151
Name: x_52, dtype: int64
x_53
 0      71017
 1      13028
-999      151
Name: x_53, dtype: int64
x_54
 0      72905
 1      11140
-999      151
Name: x_54, dtype: int64
x_55
 0      80824
 1       3221
-999      151
Name: x_55, dtype: int64
x_56
 0      82184
 1       1861
-999      151
Name: x_56, dtype: int64
x_57
 0      84045
-999      151
Name: x_57, dtype: int64
x_58
 0      84045
-999      151
Name: x_58, dtype: int64
x_59
 0      84045
-999      151
Name: x_59, dtype: int64
x_6
 0      84045
-999      151
Name: x_6, dtype: int64
x_60
 0      84045
-999      151
Name: x_60, dtype: int64
x_61
 1      65471
 0      18574
-999      151
Name: x_61, dtype: int64
x_62
 1      51684
 0      32361
-999      151
Name: x_62, dtype: int64
x_63
 0      58328
 1      25717
-999      151
Name: x_63, dtype: int64
x_64
 0      79146
 1       4899
-999      151
Name: x_64, dtype: int64
x_65
 0      44971
 1      39074
-999      151
Name: x_65, dtype: int64
x_66
 0      66038
 1      18007
-999      151
Name: x_66, dtype: int64
x_67
 1      46650
 0      37395
-999      151
Name: x_67, dtype: int64
x_68
 0      80261
 1       3784
-999      151
Name: x_68, dtype: int64
x_69
 0      83873
 1        172
-999      151
Name: x_69, dtype: int64
x_7
 0      84045
-999      151
Name: x_7, dtype: int64
x_70
 1      84045
-999      151
Name: x_70, dtype: int64
x_71
 1      62068
 0      21977
-999      151
Name: x_71, dtype: int64
x_72
 0      73255
 1      10790
-999      151
Name: x_72, dtype: int64
x_73
 0      82688
 1       1357
-999      151
Name: x_73, dtype: int64
x_74
 1      70742
 0      13303
-999      151
Name: x_74, dtype: int64
x_75
 0      64102
 1      19943
-999      151
Name: x_75, dtype: int64
x_76
 0      80167
 1       3878
-999      151
Name: x_76, dtype: int64
x_77
 0      84045
-999      151
Name: x_77, dtype: int64
x_78
 0      84045
-999      151
Name: x_78, dtype: int64
x_79
0    84022
1      174
Name: x_79, dtype: int64
x_8
 0      84045
-999      151
Name: x_8, dtype: int64
x_9
 0      84045
-999      151
Name: x_9, dtype: int64

In [7]:
print(train[train['unpayOtherLoan'] == -999].shape)
print(train[train['unpayOtherLoan'] == -999]['target'].sum())

(109, 105)
5

In [10]:
residentAddr = data['residentAddr'].unique()
dist = data['dist'].unique()
print('residentAddr', len(residentAddr))
print('dist', len(dist))

residentAddr 2807
dist 3419

In [12]:
print(len(list(set(residentAddr).intersection(set(dist)))))

277

In [14]:
print(train[train['target'] == 1].sort_values(by=['x_1'])[['target', 'x_1']])

       target  x_1
12264       1 -999
20203       1 -999
27197       1 -999
33697       1 -999
2872        1 -999
37031       1    0
36330       1    0
38711       1    0
38657       1    0
36420       1    0
38640       1    0
36498       1    0
38616       1    0
38475       1    0
37953       1    0
38879       1    0
37872       1    0
37838       1    0
37760       1    0
37180       1    0
37034       1    0
36831       1    0
39100       1    0
74          1    0
39317       1    0
42491       1    0
42415       1    0
42260       1    0
42257       1    0
42245       1    0
...       ...  ...
17265       1    0
16865       1    0
16846       1    0
16834       1    0
16239       1    0
16200       1    0
17486       1    0
15575       1    0
19948       1    0
20168       1    0
22320       1    0
22269       1    0
22054       1    0
21769       1    0
21758       1    0
21723       1    0
21141       1    0
21040       1    0
20142       1    0
21025       1    0
20894       1    0
20849       1    0
20723       1    0
20644       1    0
20640       1    0
20631       1    0
20499       1    0
20283       1    0
20998       1    0
56382       1    0

[350 rows x 2 columns]